body{
    margin: 0;
}
/*Nav bar*/
/*.topnav {

        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #333;
        color: #fff;
        padding: 10px;
    
  }
  
  
  .topnav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    
  }
  
  .topnav a:hover {
    
    color: #00bfa5;
  }
  
  .topnav a.active {
    color: white;
    color: #00b39b;
  }*/
  
  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Navbar button styling */
  .topnav button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Image styling */
  .topnav img {
    height: 50px;
    margin-right: 10px;
  }
 



#logo {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.head{
    
    margin-top: 60px;
}


#paraheader {
    color: #00b39b;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
    text-align: center;
    margin: 0 0 10px;
    padding: 20px 0 0;

}

.twopara {
    display: flex;
    color: #747474;
    padding: 30px 300px 30px 280px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;


}

.p1,
.p2 {

    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

@media screen and (max-width: 768px) {

    .twopara,
    .container {
        flex-direction: column;
        padding: 30px;


    }
    header img{
        width: 100px;
        height: 50px;
        margin-right: 50;
    }
    .green-box, .four-boxes, .first-box{
        
       display: flex;
        flex-direction: column;
        
    }
    
}

/* 3 boxes */

.item1 {
    width: 311.63px;
    height: 345px;
    background-color: #00ccb1;
    padding: 32px 32px 0;
    border-radius: 5px;
}

.item2 {
    width: 311.63px;
    height: 345px;
    background-color: #3d83df;
    padding: 32px 32px 0;
    border-radius: 5px;
}

.item3 {
    width: 311.63px;
    height: 345px;
    background-color: #1b2734;
    padding: 32px 32px 0;
    border-radius: 5px;
}
.item1:hover{
    opacity: 90%;
}
.item2:hover{
    opacity: 90%;
}
.item3:hover{
    opacity: 90%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 300px 30px 280px;

}

.services-item h1 {
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.services-item h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.select-item,
.specialist {
    background: transparent;
    text-decoration: underline;
    font-size: 19.2px;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    border: 0;
    margin: 30px 0 0 0;
    cursor: pointer;
}

.specialist2 {
    background: transparent;
    text-decoration: underline;
    font-size: 19.2px;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    border: 0;
    margin: 20px 0 0 0;
    cursor: pointer;
}

/* Logos brands */
.container2 {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 300px 30px 280px;
    float: left;

}
.brands-logos{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.container2 h1 {
    float: left;
    color: #00b39b;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin: 6.5px 0 9.1px;
    padding: 0 26px 0 0;
}

.brands-logos {
    list-style-type: none;


}

a:hover {
    fill: #00bfa5;
    font-size: 16px;
}

a {
    fill: hsla(0, 0%, 67%, .7)
}

li.jameda {
    filter: grayscale(100%);
    opacity: 70%;
}

li.jameda:hover {
    filter: none;
    opacity: 100%;
}

li.tuotempo {
    filter: grayscale(100%);
    opacity: 70%;
}

li.tuotempo:hover {
    filter: none;
    opacity: 100%;
}
li.gipo {
    filter: grayscale(100%);
    opacity: 70%;
}

li.gipo:hover {
    filter: none;
    opacity: 100%;
}
li.clinicloud {
    filter: grayscale(100%);
    opacity: 70%;
}

li.clinicloud:hover {
    filter: none;
    opacity: 100%;
}
li.feegow {
    filter: grayscale(100%);
    opacity: 70%;
}

li.feegow:hover {
    filter: none;
    opacity: 100%;
}
/*The world biggest*/
.green-box{
    background-color: #d0faf4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 50px;
    
    
    
}
.green-container h2{
    color:#00b39b;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.green-container p{
    color:#747474;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}
#leaders h3{
   font-size:26px ; 
   color:#00b39b;
   font-family: 'Roboto', sans-serif;;
   
}
#leaders p{
    font-size:11px ; 
    color:#747474;
    font-family: 'Roboto', sans-serif;
    
    
 }
 #leaders img{
    height: 25px;
    width: 29px;
 }
 #leaders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
 }

 #leaders h3{
    font-size:26px ; 
    color:#00b39b;
    font-family: 'Roboto', sans-serif;;
    
 }
 #patients p{
     font-size:11px ; 
     color:#747474;
     font-family: 'Roboto', sans-serif;
     
     
  }
  #patients img{
     height: 25px;
     width: 29px;
  }
  #patients{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: white;
     text-align: center;
     width: 220px;
     border-radius: 2px;
     padding-top: 50px;
     padding-bottom: 50px;
     margin-top: 50px;
  }
  #appoitment p{
    font-size:11px ; 
    color:#747474;
    font-family: 'Roboto', sans-serif;
    
    
 }
 #appoitment img{
    height: 25px;
    width: 29px;
 }
 #appoitment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
 }
 #active p{
    font-size:11px ; 
    color:#747474;
    font-family: 'Roboto', sans-serif;
    
    
 }
 #active img{
    height: 25px;
    width: 29px;
 }
 #active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
 }

.four-boxes{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.green-box{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.after-green{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;

}
.after-green h3{
    color:#00b39b;
    font-family: 'Roboto', sans-serif;
    letter-spacing:-0.5px;
    text-align: center;
    font-size: 30px;
}
.after-green p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #747474;
}

/*Countries*/
.section-country{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.Countries{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 150px 100px 150px;
    gap: 10px;
    
}
.buttons{
    display: flex;
    justify-content: space-between;
    
}
.section-country button{
    margin-top: 0.5cm;
    display: flex;
    gap: 2cm;
    justify-content: center;
    background-color: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    border:0px;
}
.section-country p{
    font-size: medium;
    color: #747474;
    font-family: 'Roboto', sans-serif;

}
/*countries interesting*/
.after-countries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.after-countries h1{
    font-size: 30px;
    color: #333;
    margin-bottom: 0.75em;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    text-align:center;
}
.after-countries button{
    margin-left:120px;
    background-color: #3d83df;
    color:#fff;
    padding: 12px 14px 12px 14px;
    font-weight: 700;
    font-size: 12px;
    border: 0;
    border-radius: 5px;
}
/*footer*/
footer{
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family:'Roboto', sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
}
.foot a{
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}