header img {
    width: 268px;
    height: 33px;
}

#logo {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#paraheader {
    color: #00b39b;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
    text-align: center;
    margin: 0 0 10px;
    padding: 20px 0 0;

}

.twopara {
    display: flex;
    color: #747474;
    padding: 30px 300px 30px 280px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    

}

.p1,
.p2 {

    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

@media screen and (max-width: 768px) {
    .twopara,.container {
        flex-direction: column;
        padding: 30px;

    }
}
/* 3 boxes */

.item1{
    width: 311.63px;
    height: 345px;
    background-color: #00ccb1;
    padding: 32px 32px 0;
    border-radius: 5px;
}
.item2{
    width: 311.63px;
    height: 345px;
    background-color: #3d83df;
    padding: 32px 32px 0;
    border-radius: 5px;
}
.item3{
    width: 311.63px;
    height: 345px;
    background-color: #1b2734;
    padding: 32px 32px 0;
    border-radius: 5px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 300px 30px 280px;
    flex-wrap: wrap;
}
.services-item h1{
    color: #fff;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 400;
    font-size: 26px;
}
.services-item h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.select-item, .specialist{
    background: transparent;
    text-decoration:underline;
    color: #fff;
    font-size: 19.2px;
    font-family: 'Roboto', sans-serif;
    border-radius:0;
    border:0;
    margin: 60px 0 0 0;
}
.specialist2{
    background: transparent;
    text-decoration:underline;
    color: #fff;
    font-size: 19.2px;
    font-family: 'Roboto', sans-serif;
    border-radius:0;
    border:0;
    margin: 20px 0 0 0;
}
